@model mondayWebApp.Models.ProjectTask

@{
    ViewData["Title"] = "Usuń zadanie";
}

<h1>Usuń zadanie</h1>

<h3>Czy chcesz usunać to zadanie</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nazwa zadania
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskName)
        </dd>
        <dt class = "col-sm-2">
            Data zakończenia zadania
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskDeadline)
        </dd>
        <dt class = "col-sm-2">
            Projekt
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectName)
        </dd class>
        <dt class = "col-sm-2">
            Pracownik
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmployeeNameSurname)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TaskID" />
        <input type="submit" value="Usu" class="btn btn-danger" /> |
        <a asp-action="Index">Wróć do listy zadań</a>
    </form>
</div>
