@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Dane osobiste";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Twoje konto zawiera dane osobiste które przekazałeś nam. Ta strona pozwala Tobie pobrać lub usunąc dane personalne.</p>
        <p>
            <strong>Usunięcie Twoich danych osobistych usunie bezpowotnie Twoje konto i nie będzie mogło być już odzyskane.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Pobierz dane osobiste</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Usuń konto</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}