@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie zresetowania hasła";
}

<h1>@ViewData["Title"]</h1>
<p>
    Hasło zostało zresetowane. Proszę kliknij <a asp-page="./Login">, aby się zalogować.</a>.
</p>
