@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
    <li class="nav-item">
        @if (User.IsInRole("Superadmin") || User.IsInRole("Admin"))
        {
            <a class="nav-link text-dark" asp-controller="Employees" asp-action="Index">Pracownicy</a>
        }

        @if (User.IsInRole("Superadmin"))
        {
            <a class="nav-link text-dark" asp-controller="Administrator" asp-action="Role">Adminstracja rolami</a>
        }
    </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Witaj, @User.Identity.Name !</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Wyloguj</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Zaloguj się</a>
        </li>
    }
</ul>
