@model mondayWebApp.Models.Department

@{
    ViewData["Title"] = "Edytuj dział";
}

<h1>Edytuj dział</h1>

<h4>Dział</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DepartmentID" />
            <div class="form-group">
                <label asp-for="DepartmentName" class="control-label">Nazwa działu</label>
                <input asp-for="DepartmentName" class="form-control" />
                <span asp-validation-for="DepartmentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentDesc" class="control-label">Opis działu</label>
                <input asp-for="DepartmentDesc" class="form-control" />
                <span asp-validation-for="DepartmentDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentEstablishmentDate" class="control-label">Data utworzenia działu</label>
                <input asp-for="DepartmentEstablishmentDate" class="form-control" />
                <span asp-validation-for="DepartmentEstablishmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentManagerID" class="control-label">Kierownik działu</label>
                <select asp-for="DepartmentManagerID" class="form-control" asp-items="ViewBag.DepartmentManagerID"></select>
                <span asp-validation-for="DepartmentManagerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz zmiany" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć do listy działów</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
