@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">.monday</h1>
    <p>Aplikacja webowa do zarządzania małą firmą - wyspecjalizowany moduł zarządzania zespołem.</p>
</div>
